
.row-content {
    margin: 0px auto;
    padding: 20px 0px;
    min-height: 200px;
}
#mynavbutton  {
    width: 110px;
    margin-top:14px;
    margin-right: 10px;
}

#tabContent {
    padding: 20px;
    min-height: 600px;
    border-right: 1px solid Gainsboro;
    border-left: 1px solid Gainsboro;
    border-bottom: 1px solid Gainsboro;
}

.form-inline > * {
    margin-right:45px !important;
}

.ngdialog.ngdialog-theme-default.custom-width-800 .ngdialog-content {
    width: 800px;
}

.ngdialog.ngdialog-theme-default.custom-width-1000 .ngdialog-content {
    width: 1000px;
}

.ngdialog.ngdialog-theme-default.custom-width-600 .ngdialog-content {
    width: 600px;
}

.ngdialog.ngdialog-theme-default.custom-width-500 .ngdialog-content {
    width: 500px;
}

.input-group { 
    width: 100%; 
}

.input-group-addon.custom-width-100 { 
    width: 105px; 
}

.input-group-addon.custom-width-120 { 
    width: 120px; 
}

.input-group-addon.custom-width-45 { 
    width: 45px; 
}

.input-group-addon.custom-width-75 { 
    width: 75px; 
}

.input-group-addon.custom-width-65 { 
    width: 65px; 
}

.input-group-addon.custom-width-50 { 
    width: 50px; 
}

.form-group.custom-padding { 
    padding: 2px; 
    margin: 0px;
}

.media.custom-padding { 
    padding: 2px; 
    margin: 0px;
}

.form-group.custom-padding-bottom { 
    padding: 2px 2px 10px 2px; 
    margin: 0px;
}

.btn.btn-sm.btn-custom75 {
    width: 75px;
    margin-top: 10px;
}

.btn.btn-sm.btn-custom {
    margin-top: 10px;
}

.btn.btn-sm.btn-custom75-bottom {
    width: 75px;
    margin-top: 60px;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    text-align: center;
    margin: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.thumb {
    width: 50px;
    height: 50px;
    float: none;
    position: relative;
    top: 7px;
}

