<div class="ngdialog-message">
    <div class="">
        <h3>Add a New Team</h3>
    </div>
    <div class="">&nbsp;</div>
    <div class="">
        <form class="form-horizontal" ng-submit="addTeam()">
            <div class="form-group">
                <label class="sr-only" for="name">Team Name</label>
                <div class="col-xs-12">
                    <input type="text" class="form-control" id="name" placeholder="team name" ng-model="teamForm.name">
                </div>              
                <label class="sr-only" for="agegroup">Age Group</label>
                <div class="col-xs-12">
                    <div class="input-group">
                        <div class="input-group-addon custom-width-100">Age Group</div>
                        <select id="agegroup" class="form-control" ng-model="teamForm.ageGroup" ng-options="ageGroup._id as ageGroup.name for ageGroup in ageGroups"></select>
                    </div>
                </div>
                <label class="sr-only" for="gender">Gender</label>
                <div class="col-xs-12">
                    <div class="input-group">
                        <div class="input-group-addon custom-width-100">Gender</div>
                        <select id="gender" class="form-control" ng-model="teamForm.gender" ng-options="gender._id as gender.name for gender in genders"></select>
                    </div>
                </div>                
                <label class="sr-only" for="league">League</label>
                <div class="col-xs-12">
                    <div class="input-group">
                        <div class="input-group-addon custom-width-100">League</div>
                        <select id="league" class="form-control" ng-model="teamForm.league" ng-options="league._id as league.name for league in leagues"></select>
                    </div>
                </div>
            </div>            
            <button type="submit" class="btn btn-info">Add</button>
            <button type="button" class="btn btn-default" ng-click=closeThisDialog("Cancel")>Cancel</button>
        </form>
    </div>
    <div>&nbsp;</div>
</div>