<div class="ngdialog-message">
    <div class="">
        <h3>Edit Age Group</h3>
    </div>
    <div>&nbsp;</div>
    <div>
        <form ng-submit="editAgeGroup()">
            <div class="form-group">
                <label class="sr-only" for="name">Age Group Display Name</label>
                <input type="text" class="form-control" id="name" placeholder="age group name" ng-model="editAgeGroupForm.name" value={{editAgeGroupForm.name}}>
            </div>
            <div class="form-group">
                <label class="sr-only" for="birthyear">Birth Year</label>
                <input type="text" class="form-control" id="birthyear" placeholder="birth year" ng-model="editAgeGroupForm.birthyear">
            </div>
            <div class="form-group">
                <label class="sr-only" for="socceryear">Soccer Year</label>
                <div class="input-group">
                    <div class="input-group-addon">U</div>
                    <input type="text" class="form-control" id="socceryear" placeholder="soccer year" ng-model="editAgeGroupForm.socceryear"> 
                </div>                               
            </div>
            <button type="submit" class="btn btn-info">Update</button>
            <button type="button" class="btn btn-default" ng-click=closeThisDialog("Cancel")>Cancel</button>
        </form>
    </div>
</div>
