<div class="ngdialog-message">
    <div class="">
        <h3>Edit Facility</h3>
    </div>
    <div class="">&nbsp;</div>
    <div class="">
        <form class="form-horizontal" ng-submit="editFacility()">
            <div class="form-group custom-padding"> 
                <label class="sr-only" for="name">Facility Name</label>
                <div class="col-xs-12, col-sm-9" style="padding-right:0px; margin-right: 0px;">  
                    <div class="input-group">
                        <div class="input-group-addon custom-width-100">Name</div>
                        <input type="text" id="name" class="form-control" ng-model="facilityForm.name" placeholder="full name">
                    </div>
                </div>
                <label class="sr-only" for="shortname">Facility Abbreviation</label>
                <div class="col-xs-12 col-sm-3" style="padding-left:0px; margin-left: 0px;">
                    <input type="text" id="shortname" class="form-control" ng-model="facilityForm.shortname" placeholder="abbreviation">
                </div>                    
            </div>
            
            <div class="form-group custom-padding"> 
                <label class="sr-only" for="club">Club Affiliation</label>
                <div class="col-xs-12">  
                    <div class="input-group">
                        <div class="input-group-addon custom-width-100">Club</div>
                        <select id="club" class="form-control" ng-model="facilityForm.club" ng-options="club._id as club.name for club in clubs"></select>
                    </div>
                </div>
            </div>
            
            <div class="form-group custom-padding">
                <div class="radio" style="text-align:center; padding-top: 0px;">
                    <label class="radio-inline">
                        <input type="radio" ng-model="facilityForm.method" value="address">Address
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="facilityForm.method" value="gps">GPS Coordinates
                    </label>
                </div>
            </div>
            
            <div ng-show="!gpsHidden">
                <div class="form-group custom-padding"> 
                    <label class="sr-only" for="lat">Latitude</label>
                    <div class="col-xs-12">  
                        <div class="input-group">
                            <div class="input-group-addon custom-width-100">Latitude</div>
                            <input type="text" id="lat" class="form-control" ng-model="facilityForm.lat" placeholder="39.9727">
                        </div>
                    </div>
                </div>
                
                <div class="form-group custom-padding-bottom"> 
                    <label class="sr-only" for="lon">Longitude</label>
                    <div class="col-xs-12">  
                        <div class="input-group">
                            <div class="input-group-addon custom-width-100">Longitude</div>
                            <input type="text" id="lon" class="form-control" ng-model="facilityForm.lon" placeholder="-74.1479">
                        </div>
                    </div>
                </div>
            </div>
            
            <div ng-show="!addressHidden">
                <div class="form-group custom-padding"> 
                    <label class="sr-only" for="address">Street Address</label>
                    <div class="col-xs-12">  
                        <div class="input-group">
                            <div class="input-group-addon custom-width-100">Address</div>
                            <input type="text" id="address" class="form-control" ng-model="facilityForm.address">
                        </div>
                    </div>
                </div>

                <div class="form-group custom-padding-bottom"> 
                    <label class="sr-only" for="city">City</label>
                    <div class="col-xs-12, col-sm-6" style="padding-right:0px; margin-right: 0px;">  
                        <div class="input-group">
                            <div class="input-group-addon custom-width-100">City</div>
                            <input type="text" id="city" class="form-control" ng-model="facilityForm.city">
                        </div>
                    </div>
                    <label class="sr-only" for="state">State</label>
                    <div class="col-xs-6, col-sm-3" style="padding-right:0px; margin-right: 0px; padding-left:0px; margin-left: 0px;">  
                        <div class="input-group">
                            <div class="input-group-addon">State</div>
                            <select id="state" class="form-control" ng-model="facilityForm.state">
                                <option value=""></option>
                                <option value="AK">AK</option>
                                <option value="AL">AL</option>
                                <option value="AR">AR</option>
                                <option value="AZ">AZ</option>
                                <option value="CA">CA</option>
                                <option value="CO">CO</option>
                                <option value="CT">CT</option>
                                <option value="DC">DC</option>
                                <option value="DE">DE</option>
                                <option value="FL">FL</option>
                                <option value="GA">GA</option>
                                <option value="HI">HI</option>
                                <option value="IA">IA</option>
                                <option value="ID">ID</option>
                                <option value="IL">IL</option>
                                <option value="IN">IN</option>
                                <option value="KS">KS</option>
                                <option value="KY">KY</option>
                                <option value="LA">LA</option>
                                <option value="MA">MA</option>
                                <option value="MD">MD</option>
                                <option value="ME">ME</option>
                                <option value="MI">MI</option>
                                <option value="MN">MN</option>
                                <option value="MO">MO</option>
                                <option value="MS">MS</option>
                                <option value="MT">MT</option>
                                <option value="NC">NC</option>
                                <option value="ND">ND</option>
                                <option value="NE">NE</option>
                                <option value="NH">NH</option>
                                <option value="NJ">NJ</option>
                                <option value="NM">NM</option>
                                <option value="NV">NV</option>
                                <option value="NY">NY</option>
                                <option value="OH">OH</option>
                                <option value="OK">OK</option>
                                <option value="OR">OR</option>
                                <option value="PA">PA</option>
                                <option value="PR">PR</option>
                                <option value="RI">RI</option>
                                <option value="SC">SC</option>
                                <option value="SD">SD</option>
                                <option value="TN">TN</option>
                                <option value="TX">TX</option>
                                <option value="UT">UT</option>
                                <option value="VA">VA</option>
                                <option value="VT">VT</option>
                                <option value="WA">WA</option>
                                <option value="WI">WI</option>
                                <option value="WV">WV</option>
                                <option value="WY">WY</option>
                            </select>
                        </div>
                    </div>  
                    <label class="sr-only" for="zip">Postal Code</label>
                    <div class="col-xs-6, col-sm-3" style="padding-left:0px; margin-left: 0px;">  
                        <div class="input-group">
                            <div class="input-group-addon">ZIP</div>
                            <input type="text" id="zip" class="form-control" ng-model="facilityForm.zip">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group" style="padding-bottom: 0px; margin-bottom: 0px;"> 
                <div class="col-xs-12">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th style="padding: 0px; margin: 0px;"><div class="input-group-addon">&nbsp;</div></th>  
                                <th style="padding: 0px; margin: 0px;"><div class="input-group-addon">Sun</div></th>
                                <th style="padding: 0px; margin: 0px;"><div class="input-group-addon">Mon</div></th>
                                <th style="padding: 0px; margin: 0px;"><div class="input-group-addon">Tue</div></th>
                                <th style="padding: 0px; margin: 0px;"><div class="input-group-addon">Wed</div></th>
                                <th style="padding: 0px; margin: 0px;"><div class="input-group-addon">Thu</div></th>
                                <th style="padding: 0px; margin: 0px;"><div class="input-group-addon">Fri</div></th>
                                <th style="padding: 0px; margin: 0px;"><div class="input-group-addon">Sat</div></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding: 0px; margin: 0px;"><div class="input-group-addon">Start Time</div></td>  
                                <td style="padding: 0px; margin: 0px;">
                                    <label class="sr-only" for="sunStart">Sunday Start Time</label>
                                    <select id="sunStart" class="form-control input-sm" style="font-size: 12px;" ng-model="facilityForm.sunStart">
                                        <option value=""></option>
                                        <option value="0000">12:00AM</option>
                                        <option value="0100">1:00AM</option>
                                        <option value="0200">2:00AM</option>
                                        <option value="0300">3:00AM</option>
                                        <option value="0400">4:00AM</option>
                                        <option value="0500">5:00AM</option>
                                        <option value="0600">6:00AM</option>
                                        <option value="0700">7:00AM</option>
                                        <option value="0800">8:00AM</option>
                                        <option value="0900">9:00AM</option>
                                        <option value="1000">10:00AM</option>
                                        <option value="1100">11:00AM</option>
                                        <option value="1200">12:00PM</option>
                                        <option value="1300">1:00PM</option>
                                        <option value="1400">2:00PM</option>
                                        <option value="1500">3:00PM</option>
                                        <option value="1600">4:00PM</option>
                                        <option value="1700">5:00PM</option>
                                        <option value="1800">6:00PM</option>
                                        <option value="1900">7:00PM</option>
                                        <option value="2000">8:00PM</option>
                                        <option value="2100">9:00PM</option>
                                        <option value="2200">10:00PM</option>
                                        <option value="2300">11:00PM</option>                        
                                    </select>
                                </td>
                                <td style="padding: 0px; margin: 0px;">
                                    <label class="sr-only" for="monStart">Monday Start Time</label>
                                    <select id="monStart" class="form-control input-sm" style="font-size: 12px;" ng-model="facilityForm.monStart">
                                        <option value=""></option>
                                        <option value="0000">12:00AM</option>
                                        <option value="0100">1:00AM</option>
                                        <option value="0200">2:00AM</option>
                                        <option value="0300">3:00AM</option>
                                        <option value="0400">4:00AM</option>
                                        <option value="0500">5:00AM</option>
                                        <option value="0600">6:00AM</option>
                                        <option value="0700">7:00AM</option>
                                        <option value="0800">8:00AM</option>
                                        <option value="0900">9:00AM</option>
                                        <option value="1000">10:00AM</option>
                                        <option value="1100">11:00AM</option>
                                        <option value="1200">12:00PM</option>
                                        <option value="1300">1:00PM</option>
                                        <option value="1400">2:00PM</option>
                                        <option value="1500">3:00PM</option>
                                        <option value="1600">4:00PM</option>
                                        <option value="1700">5:00PM</option>
                                        <option value="1800">6:00PM</option>
                                        <option value="1900">7:00PM</option>
                                        <option value="2000">8:00PM</option>
                                        <option value="2100">9:00PM</option>
                                        <option value="2200">10:00PM</option>
                                        <option value="2300">11:00PM</option>                        
                                    </select>
                                </td>
                                <td style="padding: 0px; margin: 0px;">
                                    <label class="sr-only" for="tueStart">Tuesday Start Time</label>
                                    <select id="tueStart" class="form-control input-sm" style="font-size: 12px;" ng-model="facilityForm.tueStart">
                                        <option value=""></option>
                                        <option value="0000">12:00AM</option>
                                        <option value="0100">1:00AM</option>
                                        <option value="0200">2:00AM</option>
                                        <option value="0300">3:00AM</option>
                                        <option value="0400">4:00AM</option>
                                        <option value="0500">5:00AM</option>
                                        <option value="0600">6:00AM</option>
                                        <option value="0700">7:00AM</option>
                                        <option value="0800">8:00AM</option>
                                        <option value="0900">9:00AM</option>
                                        <option value="1000">10:00AM</option>
                                        <option value="1100">11:00AM</option>
                                        <option value="1200">12:00PM</option>
                                        <option value="1300">1:00PM</option>
                                        <option value="1400">2:00PM</option>
                                        <option value="1500">3:00PM</option>
                                        <option value="1600">4:00PM</option>
                                        <option value="1700">5:00PM</option>
                                        <option value="1800">6:00PM</option>
                                        <option value="1900">7:00PM</option>
                                        <option value="2000">8:00PM</option>
                                        <option value="2100">9:00PM</option>
                                        <option value="2200">10:00PM</option>
                                        <option value="2300">11:00PM</option>                        
                                    </select>
                                </td>
                                <td style="padding: 0px; margin: 0px;">                                
                                    <label class="sr-only" for="wedStart">Wednesday Start Time</label>
                                    <select id="wedStart" class="form-control input-sm" style="font-size: 12px;" ng-model="facilityForm.wedStart">
                                        <option value=""></option>
                                        <option value="0000">12:00AM</option>
                                        <option value="0100">1:00AM</option>
                                        <option value="0200">2:00AM</option>
                                        <option value="0300">3:00AM</option>
                                        <option value="0400">4:00AM</option>
                                        <option value="0500">5:00AM</option>
                                        <option value="0600">6:00AM</option>
                                        <option value="0700">7:00AM</option>
                                        <option value="0800">8:00AM</option>
                                        <option value="0900">9:00AM</option>
                                        <option value="1000">10:00AM</option>
                                        <option value="1100">11:00AM</option>
                                        <option value="1200">12:00PM</option>
                                        <option value="1300">1:00PM</option>
                                        <option value="1400">2:00PM</option>
                                        <option value="1500">3:00PM</option>
                                        <option value="1600">4:00PM</option>
                                        <option value="1700">5:00PM</option>
                                        <option value="1800">6:00PM</option>
                                        <option value="1900">7:00PM</option>
                                        <option value="2000">8:00PM</option>
                                        <option value="2100">9:00PM</option>
                                        <option value="2200">10:00PM</option>
                                        <option value="2300">11:00PM</option>                        
                                    </select>
                                </td>
                                <td style="padding: 0px; margin: 0px;">
                                    <label class="sr-only" for="thuStart">Thursday Start Time</label>
                                    <select id="thuStart" class="form-control input-sm" style="font-size: 12px;" ng-model="facilityForm.thuStart">
                                        <option value=""></option>
                                        <option value="0000">12:00AM</option>
                                        <option value="0100">1:00AM</option>
                                        <option value="0200">2:00AM</option>
                                        <option value="0300">3:00AM</option>
                                        <option value="0400">4:00AM</option>
                                        <option value="0500">5:00AM</option>
                                        <option value="0600">6:00AM</option>
                                        <option value="0700">7:00AM</option>
                                        <option value="0800">8:00AM</option>
                                        <option value="0900">9:00AM</option>
                                        <option value="1000">10:00AM</option>
                                        <option value="1100">11:00AM</option>
                                        <option value="1200">12:00PM</option>
                                        <option value="1300">1:00PM</option>
                                        <option value="1400">2:00PM</option>
                                        <option value="1500">3:00PM</option>
                                        <option value="1600">4:00PM</option>
                                        <option value="1700">5:00PM</option>
                                        <option value="1800">6:00PM</option>
                                        <option value="1900">7:00PM</option>
                                        <option value="2000">8:00PM</option>
                                        <option value="2100">9:00PM</option>
                                        <option value="2200">10:00PM</option>
                                        <option value="2300">11:00PM</option>                        
                                    </select>                                
                                </td>
                                <td style="padding: 0px; margin: 0px;">
                                    <label class="sr-only" for="friStart">Friday Start Time</label>
                                    <select id="friStart" class="form-control input-sm" style="font-size: 12px;" ng-model="facilityForm.friStart">
                                        <option value=""></option>
                                        <option value="0000">12:00AM</option>
                                        <option value="0100">1:00AM</option>
                                        <option value="0200">2:00AM</option>
                                        <option value="0300">3:00AM</option>
                                        <option value="0400">4:00AM</option>
                                        <option value="0500">5:00AM</option>
                                        <option value="0600">6:00AM</option>
                                        <option value="0700">7:00AM</option>
                                        <option value="0800">8:00AM</option>
                                        <option value="0900">9:00AM</option>
                                        <option value="1000">10:00AM</option>
                                        <option value="1100">11:00AM</option>
                                        <option value="1200">12:00PM</option>
                                        <option value="1300">1:00PM</option>
                                        <option value="1400">2:00PM</option>
                                        <option value="1500">3:00PM</option>
                                        <option value="1600">4:00PM</option>
                                        <option value="1700">5:00PM</option>
                                        <option value="1800">6:00PM</option>
                                        <option value="1900">7:00PM</option>
                                        <option value="2000">8:00PM</option>
                                        <option value="2100">9:00PM</option>
                                        <option value="2200">10:00PM</option>
                                        <option value="2300">11:00PM</option>                        
                                    </select>                               
                                </td>
                                <td style="padding: 0px; margin: 0px;">
                                    <label class="sr-only" for="satStart">Saturday Start Time</label>
                                    <select id="satStart" class="form-control input-sm" style="font-size: 12px;" ng-model="facilityForm.satStart">
                                        <option value=""></option>
                                        <option value="0000">12:00AM</option>
                                        <option value="0100">1:00AM</option>
                                        <option value="0200">2:00AM</option>
                                        <option value="0300">3:00AM</option>
                                        <option value="0400">4:00AM</option>
                                        <option value="0500">5:00AM</option>
                                        <option value="0600">6:00AM</option>
                                        <option value="0700">7:00AM</option>
                                        <option value="0800">8:00AM</option>
                                        <option value="0900">9:00AM</option>
                                        <option value="1000">10:00AM</option>
                                        <option value="1100">11:00AM</option>
                                        <option value="1200">12:00PM</option>
                                        <option value="1300">1:00PM</option>
                                        <option value="1400">2:00PM</option>
                                        <option value="1500">3:00PM</option>
                                        <option value="1600">4:00PM</option>
                                        <option value="1700">5:00PM</option>
                                        <option value="1800">6:00PM</option>
                                        <option value="1900">7:00PM</option>
                                        <option value="2000">8:00PM</option>
                                        <option value="2100">9:00PM</option>
                                        <option value="2200">10:00PM</option>
                                        <option value="2300">11:00PM</option>                        
                                    </select>                                
                                </td>
                            </tr>
                            
                            <tr>
                                <td style="padding: 0px; margin: 0px;"><div class="input-group-addon">Stop Time</div></td>  
                                <td style="padding: 0px; margin: 0px;">
                                    <label class="sr-only" for="sunStop">Sunday Stop Time</label>
                                    <select id="sunStop" class="form-control input-sm" style="font-size: 12px;" ng-model="facilityForm.sunStop">
                                        <option value=""></option>
                                        <option value="0000">12:00AM</option>
                                        <option value="0100">1:00AM</option>
                                        <option value="0200">2:00AM</option>
                                        <option value="0300">3:00AM</option>
                                        <option value="0400">4:00AM</option>
                                        <option value="0500">5:00AM</option>
                                        <option value="0600">6:00AM</option>
                                        <option value="0700">7:00AM</option>
                                        <option value="0800">8:00AM</option>
                                        <option value="0900">9:00AM</option>
                                        <option value="1000">10:00AM</option>
                                        <option value="1100">11:00AM</option>
                                        <option value="1200">12:00PM</option>
                                        <option value="1300">1:00PM</option>
                                        <option value="1400">2:00PM</option>
                                        <option value="1500">3:00PM</option>
                                        <option value="1600">4:00PM</option>
                                        <option value="1700">5:00PM</option>
                                        <option value="1800">6:00PM</option>
                                        <option value="1900">7:00PM</option>
                                        <option value="2000">8:00PM</option>
                                        <option value="2100">9:00PM</option>
                                        <option value="2200">10:00PM</option>
                                        <option value="2300">11:00PM</option>                        
                                    </select>
                                </td>
                                <td style="padding: 0px; margin: 0px;">
                                    <label class="sr-only" for="monStop">Monday Stop Time</label>
                                    <select id="monStop" class="form-control input-sm" style="font-size: 12px;" ng-model="facilityForm.monStop">
                                        <option value=""></option>
                                        <option value="0000">12:00AM</option>
                                        <option value="0100">1:00AM</option>
                                        <option value="0200">2:00AM</option>
                                        <option value="0300">3:00AM</option>
                                        <option value="0400">4:00AM</option>
                                        <option value="0500">5:00AM</option>
                                        <option value="0600">6:00AM</option>
                                        <option value="0700">7:00AM</option>
                                        <option value="0800">8:00AM</option>
                                        <option value="0900">9:00AM</option>
                                        <option value="1000">10:00AM</option>
                                        <option value="1100">11:00AM</option>
                                        <option value="1200">12:00PM</option>
                                        <option value="1300">1:00PM</option>
                                        <option value="1400">2:00PM</option>
                                        <option value="1500">3:00PM</option>
                                        <option value="1600">4:00PM</option>
                                        <option value="1700">5:00PM</option>
                                        <option value="1800">6:00PM</option>
                                        <option value="1900">7:00PM</option>
                                        <option value="2000">8:00PM</option>
                                        <option value="2100">9:00PM</option>
                                        <option value="2200">10:00PM</option>
                                        <option value="2300">11:00PM</option>                        
                                    </select>
                                </td>
                                <td style="padding: 0px; margin: 0px;">
                                    <label class="sr-only" for="tueStop">Tuesday Stop Time</label>
                                    <select id="tueStop" class="form-control input-sm" style="font-size: 12px;" ng-model="facilityForm.tueStop">
                                        <option value=""></option>
                                        <option value="0000">12:00AM</option>
                                        <option value="0100">1:00AM</option>
                                        <option value="0200">2:00AM</option>
                                        <option value="0300">3:00AM</option>
                                        <option value="0400">4:00AM</option>
                                        <option value="0500">5:00AM</option>
                                        <option value="0600">6:00AM</option>
                                        <option value="0700">7:00AM</option>
                                        <option value="0800">8:00AM</option>
                                        <option value="0900">9:00AM</option>
                                        <option value="1000">10:00AM</option>
                                        <option value="1100">11:00AM</option>
                                        <option value="1200">12:00PM</option>
                                        <option value="1300">1:00PM</option>
                                        <option value="1400">2:00PM</option>
                                        <option value="1500">3:00PM</option>
                                        <option value="1600">4:00PM</option>
                                        <option value="1700">5:00PM</option>
                                        <option value="1800">6:00PM</option>
                                        <option value="1900">7:00PM</option>
                                        <option value="2000">8:00PM</option>
                                        <option value="2100">9:00PM</option>
                                        <option value="2200">10:00PM</option>
                                        <option value="2300">11:00PM</option>                        
                                    </select>
                                </td>
                                <td style="padding: 0px; margin: 0px;">                                
                                    <label class="sr-only" for="wedStop">Wednesday Stop Time</label>
                                    <select id="wedStop" class="form-control input-sm" style="font-size: 12px;" ng-model="facilityForm.wedStop">
                                        <option value=""></option>
                                        <option value="0000">12:00AM</option>
                                        <option value="0100">1:00AM</option>
                                        <option value="0200">2:00AM</option>
                                        <option value="0300">3:00AM</option>
                                        <option value="0400">4:00AM</option>
                                        <option value="0500">5:00AM</option>
                                        <option value="0600">6:00AM</option>
                                        <option value="0700">7:00AM</option>
                                        <option value="0800">8:00AM</option>
                                        <option value="0900">9:00AM</option>
                                        <option value="1000">10:00AM</option>
                                        <option value="1100">11:00AM</option>
                                        <option value="1200">12:00PM</option>
                                        <option value="1300">1:00PM</option>
                                        <option value="1400">2:00PM</option>
                                        <option value="1500">3:00PM</option>
                                        <option value="1600">4:00PM</option>
                                        <option value="1700">5:00PM</option>
                                        <option value="1800">6:00PM</option>
                                        <option value="1900">7:00PM</option>
                                        <option value="2000">8:00PM</option>
                                        <option value="2100">9:00PM</option>
                                        <option value="2200">10:00PM</option>
                                        <option value="2300">11:00PM</option>                        
                                    </select>
                                </td>
                                <td style="padding: 0px; margin: 0px;">
                                    <label class="sr-only" for="thuStop">Thursday Stop Time</label>
                                    <select id="thuStop" class="form-control input-sm" style="font-size: 12px;" ng-model="facilityForm.thuStop">
                                        <option value=""></option>
                                        <option value="0000">12:00AM</option>
                                        <option value="0100">1:00AM</option>
                                        <option value="0200">2:00AM</option>
                                        <option value="0300">3:00AM</option>
                                        <option value="0400">4:00AM</option>
                                        <option value="0500">5:00AM</option>
                                        <option value="0600">6:00AM</option>
                                        <option value="0700">7:00AM</option>
                                        <option value="0800">8:00AM</option>
                                        <option value="0900">9:00AM</option>
                                        <option value="1000">10:00AM</option>
                                        <option value="1100">11:00AM</option>
                                        <option value="1200">12:00PM</option>
                                        <option value="1300">1:00PM</option>
                                        <option value="1400">2:00PM</option>
                                        <option value="1500">3:00PM</option>
                                        <option value="1600">4:00PM</option>
                                        <option value="1700">5:00PM</option>
                                        <option value="1800">6:00PM</option>
                                        <option value="1900">7:00PM</option>
                                        <option value="2000">8:00PM</option>
                                        <option value="2100">9:00PM</option>
                                        <option value="2200">10:00PM</option>
                                        <option value="2300">11:00PM</option>                        
                                    </select>                                
                                </td>
                                <td style="padding: 0px; margin: 0px;">
                                    <label class="sr-only" for="friStop">Friday Stop Time</label>
                                    <select id="friStop" class="form-control input-sm" style="font-size: 12px;" ng-model="facilityForm.friStop">
                                        <option value=""></option>
                                        <option value="0000">12:00AM</option>
                                        <option value="0100">1:00AM</option>
                                        <option value="0200">2:00AM</option>
                                        <option value="0300">3:00AM</option>
                                        <option value="0400">4:00AM</option>
                                        <option value="0500">5:00AM</option>
                                        <option value="0600">6:00AM</option>
                                        <option value="0700">7:00AM</option>
                                        <option value="0800">8:00AM</option>
                                        <option value="0900">9:00AM</option>
                                        <option value="1000">10:00AM</option>
                                        <option value="1100">11:00AM</option>
                                        <option value="1200">12:00PM</option>
                                        <option value="1300">1:00PM</option>
                                        <option value="1400">2:00PM</option>
                                        <option value="1500">3:00PM</option>
                                        <option value="1600">4:00PM</option>
                                        <option value="1700">5:00PM</option>
                                        <option value="1800">6:00PM</option>
                                        <option value="1900">7:00PM</option>
                                        <option value="2000">8:00PM</option>
                                        <option value="2100">9:00PM</option>
                                        <option value="2200">10:00PM</option>
                                        <option value="2300">11:00PM</option>                        
                                    </select>                               
                                </td>
                                <td style="padding: 0px; margin: 0px;">
                                    <label class="sr-only" for="satStop">Saturday Stop Time</label>
                                    <select id="satStop" class="form-control input-sm" style="font-size: 12px;" ng-model="facilityForm.satStop">
                                        <option value=""></option>
                                        <option value="0000">12:00AM</option>
                                        <option value="0100">1:00AM</option>
                                        <option value="0200">2:00AM</option>
                                        <option value="0300">3:00AM</option>
                                        <option value="0400">4:00AM</option>
                                        <option value="0500">5:00AM</option>
                                        <option value="0600">6:00AM</option>
                                        <option value="0700">7:00AM</option>
                                        <option value="0800">8:00AM</option>
                                        <option value="0900">9:00AM</option>
                                        <option value="1000">10:00AM</option>
                                        <option value="1100">11:00AM</option>
                                        <option value="1200">12:00PM</option>
                                        <option value="1300">1:00PM</option>
                                        <option value="1400">2:00PM</option>
                                        <option value="1500">3:00PM</option>
                                        <option value="1600">4:00PM</option>
                                        <option value="1700">5:00PM</option>
                                        <option value="1800">6:00PM</option>
                                        <option value="1900">7:00PM</option>
                                        <option value="2000">8:00PM</option>
                                        <option value="2100">9:00PM</option>
                                        <option value="2200">10:00PM</option>
                                        <option value="2300">11:00PM</option>                        
                                    </select>                                
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="form-group custom-padding-bottom">    
                <label class="sr-only" for="indoor">Indoor Facility</label>
                <div class="col-xs-12" style="text-align: center;">  
                    <input type="checkbox" checked ng-model="facilityForm.indoor" id="indoor"> Indoor 
                </div>
            </div>
            
            <button type="submit" class="btn btn-info">Update</button>
            <button type="button" class="btn btn-default" ng-click=closeThisDialog("Cancel")>Cancel</button>
        </form>
    </div>
    <div>&nbsp;</div>
</div>