<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#my-collapse">
                <span class="sr-only">Toggle navigation</span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span>
            </button> 
            <a class="navbar-brand" ui-sref="app.home">MatchAware</a>
        </div>
        <div id="my-collapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="app.users">Users</a></li>
                <li><a ui-sref="app.blogs">Blogs</a></li>
                <li><a ui-sref="app.forums">Forums</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><button type="button" ng-show="isAuthenticated()" id="mynavbutton" class="btn btn-default btn-xs" ng-click="openJoinClub()">Join Existing Club</button></li>
                <li><button type="button" ng-show="isAuthenticated()" id="mynavbutton"  class="btn btn-default btn-xs" ng-click="openCreateClub()">Create Club</button></li>
                <li><a href="#contact" ng-hide="isAuthenticated()" ng-click="openRegister()">Register</a></li>
                <li><a href="#contact" ng-hide="isAuthenticated()" ng-click="openLogin()">Login</a></li>
                <li><a href="#contact" ng-hide="!isAuthenticated()" >{{fullname}}</a></li>
                <li><a href="#contact" ng-hide="!isAuthenticated()" ng-click="openLogout()">Logout</a></li>
            </ul>                    
        </div>
    </div>
</nav>