
<div class="row row-content" ng-show="!userHasSingleClub()">
    <div class="col-xs-12">
        <p align=center>You are not currently associated with any soccer club. Either join an existing club, or create your own.</p>
    </div>
</div>

<div class="row row-content" ng-show="userHasSingleClub() && !userHasMultipleClubs() && getCurrentRole() == 'CLUB_ADMIN' && loadRequests()">    
    <div class="col-xs-12">
        <h4>Club Administration</h4>
    </div>
    <div class="col-xs-12">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-class="{active:isSelected(1)}">
                <a ng-click="select(1); subSelect(1)" aria-controls="users" role="tab">Users</a>
            </li>
            <li role="presentation" ng-class="{active:isSelected(2)}">
                <a ng-click="select(2); subSelect(1)" aria-controls="teams" role="tab">Teams</a>
            </li>
            <li role="presentation" ng-class="{active:isSelected(3)}">
                <a ng-click="select(3); subSelect(1);" aria-controls="configuration" role="tab">Configuration</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="tabContent" class="tab-pane fade in active" ng-show="isSelected(1)">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{active:subIsSelected(1)}">
                        <a ng-click="subSelect(1)" aria-controls="requests" role="tab">Requests</a>
                    </li>
                    <li role="presentation" ng-class="{active:subIsSelected(2)}">
                        <a ng-click="subSelect(2); loadClubUsers();" aria-controls="roles" role="tab">Assign Roles</a>
                    </li>
                    <li role="presentation" ng-class="{active:subIsSelected(3)}">
                        <a ng-click="subSelect(3)" aria-controls="users" role="tab">Invite Users</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tabContent" class="tab-pane fade in active" ng-show="subIsSelected(1)">
                        <div class="row row-content">
                            <div class="col-xs-12">
                                <h4 ng-show="!arePendingAccessRequests()">No pending access requests for review</h4>
                                <ul class="media-list" ng-show="arePendingAccessRequests()">
                                    <li class="media" ng-repeat="request in accessRequests" style="padding:10px; background: lightGray;">
                                        <div class="media-left media-top" >
                                            <img class="media-object img-thumbnail" style="width: 75px;" ng-src={{request.user.profile_image_url}} alt="user photo">
                                        </div>
                                        <div class="media-body">
                                            <h3 class="media-heading">{{request.user.first_name}} {{request.user.last_name}}</h3>
                                            <p>{{getRolePrettyName(request.role.name)}}<br />
                                            {{request.user.email_address}}</p>            
                                        </div>
                                        <button type="button" class="btn btn-primary btn-sm" ng-click="acceptAccess(request)">Accept</button>
                                        <button type="button" class="btn btn-danger btn-sm" ng-click="declineAccess(request)">Decline</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="tabContent" class="tab-pane fade in active" ng-show="subIsSelected(2)">
                        <div class="row row-content">
                            <div class="col-xs-12">
                                <ul class="media-list">
                                    <li class="media" ng-repeat="user in users" style="padding:10px; background: lightGray;">
                                        <div class="media-left media-top" >
                                            <img class="media-object img-thumbnail" style="width: 75px;" ng-src={{user.profile_image_url}} alt="user photo">
                                        </div>
                                        <div class="media-body">
                                            <div class="col-sm-3">
                                                <h3 class="media-heading">{{user.first_name}} {{user.last_name}}</h3>
                                                <p>{{user.email_address}}<br />{{user.mobile}}</p>  
                                            </div>
                                            <div class="col-sm-9" style="padding-top: 10px;">
                                                <form class="form-inline" ng-submit="openUpdate(user)">
                                                    <div class="form-group">
                                                        <div class="form-check form-check-inline">
                                                            <div class="row">
                                                                <label class="form-check-label small">
                                                                    <input class="form-check-input" type="checkbox" disabled ng-model="myUser.caCheck" ng-checked="userHasRoleActive('CLUB_ADMIN', user)" name="caCheck" value="CLUB_ADMIN"> Club Admin
                                                                </label>
                                                            </div>
                                                            <div class="row">
                                                                <label class="form-check-label small">
                                                                    <input class="form-check-input" type="checkbox" disabled ng-model="myUser.faCheck" ng-checked="userHasRoleActive('FIELD_ADMIN', user)" name="faCheck" value="FIELD_ADMIN"> Field Admin
                                                                </label>
                                                            </div>
                                                            <div class="row">
                                                                <label class="form-check-label small">
                                                                    <input class="form-check-input" type="checkbox" disabled ng-model="myUser.raCheck" ng-checked="userHasRoleActive('REFEREE_ASSIGNOR', user)" name="raCheck" value="REFEREE_ASSIGNOR"> Ref Assignor
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="form-check form-check-inline">
                                                            <div class="row">
                                                                <label class="form-check-label small">
                                                                    <input class="form-check-input" type="checkbox" disabled ng-model="myUser.taCheck" ng-checked="userHasRoleActive('TRAINING_ADMIN', user)" name="taCheck" value="TRAINING_ADMIN"> Training Admin
                                                                </label>
                                                            </div>
                                                            <div class="row">
                                                                <label class="form-check-label small">
                                                                    <input class="form-check-input" type="checkbox" disabled ng-model="myUser.coCheck" ng-checked="userHasRoleActive('COACH', user)" name="coCheck" value="COACH"> Coach
                                                                </label>
                                                            </div>
                                                            <div class="row">
                                                                <label class="form-check-label small">
                                                                    <input class="form-check-input" type="checkbox" disabled ng-model="myUser.trCheck" ng-checked="userHasRoleActive('TRAINER', user)" name="trCheck" value="TRAINER"> Trainer
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="form-check form-check-inline">
                                                            <div class="row">
                                                                <label class="form-check-label small">
                                                                    <input class="form-check-input" type="checkbox" disabled ng-model="myUser.reCheck" ng-checked="userHasRoleActive('REFEREE', user)" name="reCheck" value="REFEREE"> Referee
                                                                </label>
                                                            </div>
                                                            <div class="row">
                                                                <label class="form-check-label small">
                                                                    <input class="form-check-input" type="checkbox" disabled ng-model="myUser.plCheck" ng-checked="userHasRoleActive('PLAYER', user)" name="plCheck" value="PLAYER"> Player
                                                                </label>
                                                            </div>
                                                            <div class="row">
                                                                <label class="form-check-label small">
                                                                    <input class="form-check-input" type="checkbox" disabled ng-model="myUser.paCheck" ng-checked="userHasRoleActive('PARENT', user)" name="paCheck" value="PARENT"> Parent
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-sm btn-success" >Update</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="tabContent" class="tab-pane fade in active" ng-show="subIsSelected(3)">
                        <div class="row" style="background: lightGray; padding: 0px; margin: 0px;">
                            <div class="col-xs-2" style="margin-top: 8px;">
                                <div>
                                    <h4 style="text-align: center;">Invite User</h4>
                                </div>
                            </div>
                            <div class="col-xs-10">
                                <form ng-submit="sendInvite()">
                                    <div class="row">
                                        <div class="col-xs-4" style="padding-top: 12px;">
                                            <div class="form-group">
                                                <label class="sr-only" for="email">Email address</label>
                                                <input type="email" ng-model="invite.email" class="form-control" id="email" placeholder="email address">
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <div class="radio">
                                                <label style="font-size: 13px;">
                                                    <input type="radio" ng-model="invite.role" id="optionscclubcheckheckboxs1" value="CLUB_ADMIN" checked>Club Admin
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label style="font-size: 13px;">
                                                    <input type="radio" ng-model="invite.role" id="fieldcheck" value="FIELD_ADMIN">Field Admin
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label style="font-size: 13px;">
                                                    <input type="radio" ng-model="invite.role" id="optionsradios3" value="REFEREE_ASSIGNOR">Ref Assignor
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-2">                                            
                                            <div class="radio">
                                                <label style="font-size: 13px;">
                                                    <input type="radio" ng-model="invite.role" id="optionscclubcheckheckboxs1" value="TRAINING_ADMIN">Training Admin
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label style="font-size: 13px;">
                                                    <input type="radio" ng-model="invite.role" id="fieldcheck" value="COACH">Coach
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label style="font-size: 13px;">
                                                    <input type="radio" ng-model="invite.role" id="optionsradios3" value="TRAINER">Trainer
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-2">                                            
                                            <div class="radio">
                                                <label style="font-size: 13px;">
                                                    <input type="radio" ng-model="invite.role" id="optionscclubcheckheckboxs1" value="REFEREE">Referee
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label style="font-size: 13px;">
                                                    <input type="radio" ng-model="invite.role" id="fieldcheck" value="PLAYER">Player
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label style="font-size: 13px;">
                                                    <input type="radio" ng-model="invite.role" id="optionsradios3" value="PARENT">Parent
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-2" style="padding-top:30px;">  
                                            <button type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr />
                        <h4 style="text-align: center;">Pending Invites</h4>
                        <div class="row row-content">
                            <div class="col-xs-12">
                                <h4 ng-show="!arePendingUserInvites()">No user invites pending.</h4>
                                <ul class="media-list" ng-show="arePendingUserInvites()">
                                    <li class="media" ng-repeat="invite in userInvites" style="padding:10px; background: lightGray;">
                                        <div class="media-left media-top" >
                                            <img class="media-object img-thumbnail" style="width: 75px;" ng-src="./images/defaultUser.png" alt="user photo">
                                        </div>
                                        <div class="media-body">
                                            <div class="col-xs-9">
                                                <h3 class="media-heading">{{invite.sendToEmail}}</h3>
                                                <p>{{getRolePrettyName(invite.role.name)}}<br />
                                                Invite Key: {{invite.invite_key}}<br />
                                                Sent: {{getInviteSentDate(invite.invite_key)}}</p>
                                            </div>
                                            <div class="col-xs-3">  
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <button type="button" ng-click="revokeInvite(invite)" class="btn btn-info">Revoke</button>
                                                    </div>
                                                    <div class="col-xs-12" style="margin-top: 10px;">
                                                        <button type="button" class="btn btn-success">Resend</button>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tabContent" class="tab-pane fade in active" ng-show="isSelected(2)">
                <div class="row">
                    <div class="col-xs-12">
                        <form class="form-inline">
                            <button type="button" class="btn btn-success" ng-click="openAddTeam()">Add Team</button>
                            <button type="button" class="btn btn-success" ng-click="">Import Teams</button>
                            <div class="form-group">
                                <label class="sr-only" for="sort">Sort By</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Sort By</div>
                                    <select class="form-control" id="sort">
                                        <option></option>
                                        <option>Age Group</option>
                                        <option>Program</option>
                                        <option>Name</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="sort">Filter By</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Filter By</div>
                                    <select class="form-control"  id="filter">
                                        <option></option>
                                        <option>Travel</option>
                                        <option>Recreational</option>
                                        <option>Clinic</option>
                                    </select>
                                </div>
                            </div>                            
                        </form>
                    </div>
                </div>
                <hr />
                <div class="row row-content">                    
                    <div class="col-xs-12">
                        <h4 ng-show="!areTeams()">No current teams.</h4>
                        <ul class="media-list" ng-show="areTeams()">
                            <li class="media" ng-repeat="team in teams" style="padding:10px; background: lightGray;">
                                <div class="media-left media-top" >
                                    <img class="media-object img-thumbnail" style="width: 75px;" ng-src={{team.club.logo_url}} alt="club logo">
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">{{team.name}} - {{getTeamLeagueName(team)}}</h3>
                                    <p>{{team.age_group.birth_year}}/{{team.age_group.soccer_year}} {{team.gender.name}}<br />
                                    {{team.club.name}}</p>  
                                    <button type="button" class="btn btn-xs btn-primary" style="width: 50px;" ng-click="getTeamLeague(team);">Edit</button>
                                    <button type="button" class="btn btn-xs btn-danger" style="width: 50px;"ng-click="deleteTeam(team)">Delete</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>, 
            </div>
            <div id="tabContent" class="tab-pane fade in active" ng-show="isSelected(3)">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{active:subIsSelected(1)}">
                        <a ng-click="subSelect(1);" aria-controls="age groups" role="tab">Age Groups</a>
                    </li>
                    <li role="presentation" ng-class="{active:subIsSelected(2)}">
                        <a ng-click="subSelect(2)" aria-controls="leagues" role="tab">Leagues</a>
                    </li>
                    <li role="presentation" ng-class="{active:subIsSelected(3)}">
                        <a ng-click="subSelect(3)" aria-controls="rules" role="tab">Rules</a>
                    </li>
                    <li role="presentation" ng-class="{active:subIsSelected(4)}">
                        <a ng-click="subSelect(4)" aria-controls="organizations" role="tab">Organizations</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tabContent" class="tab-pane fade in active" ng-show="subIsSelected(1)">
                        <div class="row">
                            <div class="col-xs-12">
                                <form class="form-inline">
                                    <button type="button" class="btn btn-success" ng-click="openAddAgeGroup()">Add Age Group</button>                  
                                </form>
                            </div>
                        </div>
                        <hr />
                        <div class="row row-content">                    
                            <div class="col-xs-12">
                                <h4 ng-show="!areAgeGroups()">No current age groups.</h4>
                                <ul class="media-list" ng-show="areAgeGroups()">
                                    <li class="media" ng-repeat="ageGroup in ageGroups" style="padding:10px; background: lightGray;">
                                        <div class="media-left media-top" >
                                            <img class="media-object img-thumbnail" style="width: 75px;" ng-src="./images/trfc.png" alt="club logo">
                                        </div>
                                        <div class="media-body">
                                            <h3 class="media-heading" style="padding-top: 20px;">{{ageGroup.name}}</h3>
                                            <button type="button" class="btn btn-xs btn-primary" style="width: 50px;" ng-click="openEditAgeGroup(ageGroup)">Edit</button>
                                            <button type="button" class="btn btn-xs btn-danger" style="width: 50px;" ng-click="deleteAgeGroup(ageGroup)">Delete</button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="tabContent" class="tab-pane fade in active" ng-show="subIsSelected(2)">
                        <div class="row">
                            <div class="col-xs-12">
                                <form class="form-inline">
                                    <button type="button" class="btn btn-success" ng-click="openAddLeague()">Add League</button>                  
                                </form>
                            </div>
                        </div>
                        <hr />
                        <div class="row row-content">                    
                            <div class="col-xs-12">
                                <h4 ng-show="!areLeagues()">No current leagues.</h4>
                                <ul class="media-list" ng-show="areLeagues()">
                                    <li class="media" ng-repeat="league in leagues" style="padding:10px; background: lightGray;">
                                        <div class="media-left media-top" >
                                            <img class="media-object img-thumbnail" style="width: 75px;" ng-src={{league.logo_url}} alt="league logo">
                                        </div>
                                        <div class="media-body">
                                            <h3 class="media-heading" style="padding-top: 20px;">{{league.name}} - {{league.short_name}}</h3>                                           
                                            <p>{{league.min_age_group.name}} - {{league.max_age_group.name}}<br />
                                                {{team.club.name}}</p>  
                                            <button type="button" class="btn btn-xs btn-primary" style="width: 50px;" ng-click="openEditLeague(league)">Edit</button>
                                            <button type="button" class="btn btn-xs btn-danger" style="width: 50px;"ng-click="deleteLeague(league)">Delete</button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="tabContent" class="tab-pane fade in active" ng-show="subIsSelected(3)">
                        <div class="row">
                            <div class="col-xs-12">
                                <form class="form-inline">
                                    <button type="button" class="btn btn-success" ng-click="openAddRule()">Add Rule</button>                  
                                </form>
                            </div>
                        </div>
                        <hr />
                        <div class="row row-content">                    
                            <div class="col-xs-12">
                                <h4 ng-show="!areRules()">No current rules.</h4>
                                <ul class="media-list" ng-show="areRules()">
                                    <li class="media" ng-repeat="rule in rules" style="padding:10px; background: lightGray;">
                                        <div class="media-left media-top" >
                                            <img class="media-object img-thumbnail" style="width: 75px;" ng-src={{rule.league.logo_url}} alt="league logo">
                                        </div>
                                        <div class="media-body">
                                            <div class="col-xs-12 col-sm-4">
                                                <h3 class="media-heading" style="padding-top: 20px;">{{rule.league.name}} - {{rule.league.short_name}}</h3>
                                                <p>{{rule.age_group.birth_year}}/{{rule.age_group.soccer_year}}<br /></p>
                                            </div>
                                            <div class="col-xs-12 col-sm-8">
                                                <p>
                                                    Game Duration: {{rule.duration_minutes}} - {{rule.num_periods}} x {{rule.period_duration_minutes}}<br />
                                                    Fielded Players: {{rule.fielded_players}}  Ball Size: {{rule.ball_size}}<br />
                                                    Goalkeeper: {{rule.goalkeeper}}  Offside: {{rule.offside}}  Heading: {{rule.heading}}  Build-out Line: {{rule.build_out_line}}
                                                    Max Field Dimensions: {{rule.max_field_length}} x {{rule.max_field_width}}  Goal: {{rule.goal_width_ft}} x {{rule.goal_height_ft}}    
                                                </p>
                                            </div>
                                            <button type="button" class="btn btn-xs btn-primary" style="width: 50px;" ng-click="addTeam()">Edit</button>
                                            <button type="button" class="btn btn-xs btn-danger" style="width: 50px;"ng-click="addTeam()">Delete</button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="tabContent" class="tab-pane fade in active" ng-show="subIsSelected(4)">
                        organizations
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row row-content" ng-show="userHasSingleClub() && !userHasMultipleClubs() && getCurrentRole() == 'FIELD_ADMIN'">    
    <div class="col-xs-12">
        <h4>Field Administration</h4>
    </div>
    <div class="col-xs-12">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-class="{active:faIsSelected(1)}">
                <a ng-click="faSelect(1); faSubSelect(1)" aria-controls="users" role="tab">Faciliy Closures</a>
            </li>
            <li role="presentation" ng-class="{active:faIsSelected(2)}">
                <a ng-click="faSelect(2); faSubSelect(1)" aria-controls="teams" role="tab">Scheduling</a>
            </li>
            <li role="presentation" ng-class="{active:faIsSelected(3)}">
                <a ng-click="faSelect(3); faSubSelect(1)" aria-controls="configuration" role="tab">Configuration</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="tabContent" class="tab-pane fade in active" ng-show="faIsSelected(1)">
                <div class="row row-content">                    
                    <div class="col-xs-12">
                        <h4 ng-show="!areFacilities()">No current facilities.</h4>
                        <ul class="media-list" ng-show="areFacilities()">
                            <li class="media" ng-repeat="facility in facilities" style="padding:10px; background: lightGray;">
                                <div class="media-left media-top" >
                                        <img class="media-object img-thumbnail" style="width: 75px;" ng-src={{facility.club_affiliation.logo_url}} alt="club logo">
                                        <button type="button" disabled style="cursor: default;" ng-show="currentClosure(facility)" class="btn btn-sm btn-danger btn-custom75">CLOSED</button>
                                        <button type="button" disabled style="cursor: default;" ng-show="partialClosure(facility)" class="btn btn-sm btn-warning btn-custom75">PARTIAL</button>
                                        <button type="button" disabled style="cursor: default;" ng-show="!currentClosure(facility) && !partialClosure(facility)" class="btn btn-sm btn-success btn-custom75">OPEN</button>
                                        <button type="button" ng-click="openFacilityStatus(facility)" class="btn btn-sm btn-default btn-custom75">UPDATE</button>
                                </div>
                                <div class="media-body">
                                    <div class="col-xs-12 col-sm-7">
                                        <h3 class="media-heading" style="padding-top: 5px;">{{facility.name}} - {{facility.short_name}}</h3>
                                        <p>{{facility.address}}<br/>{{facility.city}}, {{facility.state}}  {{facility.postal_code}}</p>
                                        <div class="btn-group-vertical"> 
                                            <button type="button" class="btn btn-xs btn-default" data-toggle="collapse" data-target="#sublist{{facility.short_name}}" aria-expanded="false" aria-controls="sublist{{facility.short_name}}">Show/Hide Fields</button> 
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-5">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe frameborder="0" style="border:0" ng-src={{facility.google_map_string}} allowfullscreen></iframe>
                                        </div>
                                    </div>                                            
                                </div>
                                <ul class="media-list collapse" id="sublist{{facility.short_name}}">
                                    <h4 ng-show="!hasFields(facility)">No current fields.</h4>
                                    <li class="media" ng-repeat="field in facility.fields" style="padding:10px; margin-top: 10px; margin-left:50px; background: Gainsboro;">
                                        <div class="media-left media-top" >                                                
                                                <button type="button" disabled style="cursor: default;" ng-show="currentFieldClosure(field)" class="btn btn-sm btn-danger btn-custom75" style="margin-top: 0px;">CLOSED</button>
                                                <button type="button" disabled style="cursor: default;" ng-show="!currentFieldClosure(field)" class="btn btn-sm btn-success btn-custom75"style="margin-top: 0px;">OPEN</button>
                                                <button type="button" ng-click="openFieldStatus(field)" class="btn btn-sm btn-default btn-custom75">UPDATE</button>
                                        </div>
                                        <div class="media-body">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-5">
                                                    <h3 class="media-heading" style="padding-top: 0px; margin-top:0px;">{{facility.name}} - {{field.name}}</h3>
                                                </div>  
                                                <div class="col-xs-12 col-sm-7">
                                                    <h5 style="padding-top: 0px; margin-top:0px;"><span style="font-weight: bold;">Usage:</span> {{getFieldUsage(field)}}</h5>
                                                    <h5 style="padding-top: 0px; margin-top:0px;"><span style="font-weight: bold;">Has Lights:</span> {{hasLights(field)}}</h5>
                                                    <h5 style="padding-top: 0px; margin-top:0px;"><span style="font-weight: bold;">Size:</span> {{field.size.name}}</h5>
                                                </div>  
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="tabContent" class="tab-pane fade in active" ng-show="faIsSelected(2)">
                <h3 style="text-align:center;">Handle Scheduling - need three tabs</h3>
            </div>
            <div id="tabContent" class="tab-pane fade in active" ng-show="faIsSelected(3)">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{active:faSubIsSelected(1)}">
                        <a ng-click="faSubSelect(1)" aria-controls="users" role="tab">Facilities</a>
                    </li>
                    <li role="presentation" ng-class="{active:faSubIsSelected(2)}">
                        <a ng-click="faSubSelect(2)" aria-controls="teams" role="tab">Field Sizes</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tabContent" class="tab-pane fade in active" ng-show="faSubIsSelected(1)">
                        <div class="row">
                            <div class="col-xs-12">
                                <form class="form-inline">
                                    <button type="button" class="btn btn-success" ng-click="openAddFacility()">Add Facility</button>                  
                                </form>
                            </div>
                        </div>
                        <hr />
                        <div class="row row-content">                    
                            <div class="col-xs-12">
                                <h4 ng-show="!areFacilities()">No current facilities.</h4>
                                <ul class="media-list" ng-show="areFacilities()">
                                    <li class="media" ng-repeat="facility in facilities" style="padding:10px; background: lightGray;">
                                        <div class="media-left media-top" >
                                            <img class="media-object img-thumbnail" style="width: 75px;" ng-src={{facility.club_affiliation.logo_url}} alt="club logo">
                                        </div>
                                        <div class="media-body">
                                            <div class="col-xs-12 col-sm-7">
                                                <h3 class="media-heading" style="padding-top: 5px;">{{facility.name}} - {{facility.short_name}}</h3>
                                                <p>{{facility.address}}<br/>{{facility.city}}, {{facility.state}}  {{facility.postal_code}}</p>
                                                <div class="btn-group-vertical">
                                                    <button type="button" class="btn btn-xs btn-default" ng-click="openEditFacility(facility)">Edit</button>
                                                    <button type="button" class="btn btn-xs btn-default" ng-click="deleteFacility(facility)">Delete</button> 
                                                    <button type="button" class="btn btn-xs btn-default" data-toggle="collapse" data-target="#configSublist{{facility.short_name}}" aria-expanded="false" aria-controls="configSublist{{facility.short_name}}">Show/Hide Fields</button> 
                                                    <button type="button" class="btn btn-xs btn-default" ng-click="openAddField(facility)">Add Field</button>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-5">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <iframe frameborder="0" style="border:0" ng-src={{facility.google_map_string}} allowfullscreen></iframe>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <ul class="media-list collapse" id="configSublist{{facility.short_name}}">
                                            <h4 ng-show="!hasFields(facility)">No current fields.</h4>
                                            <li class="media" ng-repeat="field in facility.fields" style="padding:10px; margin-top: 10px; margin-left:50px; background: Gainsboro;">
                                                <div class="media-body">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-5">
                                                            <h3 class="media-heading" style="padding-top: 0px; margin-top:0px;">{{facility.name}} - {{field.name}}</h3>
                                                            <button type="button" class="btn btn-xs btn-default" style="width: 50px;" ng-click="openEditField(field, facility)">Edit</button>
                                                            <button type="button" class="btn btn-xs btn-default" style="width: 50px;" ng-click="deleteField(field, facility)">Delete</button>
                                                        </div>  
                                                        <div class="col-xs-12 col-sm-7">
                                                            <h5 style="padding-top: 0px; margin-top:0px;"><span style="font-weight: bold;">Usage:</span> {{getFieldUsage(field)}}</h5>
                                                            <h5 style="padding-top: 0px; margin-top:0px;"><span style="font-weight: bold;">Has Lights:</span> {{hasLights(field)}}</h5>
                                                            <h5 style="padding-top: 0px; margin-top:0px;"><span style="font-weight: bold;">Size:</span> {{field.size.name}}</h5>
                                                        </div>  
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="tabContent" class="tab-pane fade in active" ng-show="faSubIsSelected(2)">
                        <div class="row">
                            <div class="col-xs-12">
                                <form class="form-inline">
                                    <button type="button" class="btn btn-success" ng-click="openAddFieldSize()">Add Field Size</button>                  
                                </form>
                            </div>
                        </div>
                        <hr />
                        <div class="row row-content">                    
                            <div class="col-xs-12">
                                <h4 ng-show="!areFieldSizes()">No field sizes defined.</h4>
                                <ul class="media-list" ng-show="areFieldSizes()">
                                    <li class="media" ng-repeat="fieldsize in fieldSizes" style="padding:10px; background: lightGray;">
                                        <div class="media-left media-top" >
                                            
                                        </div>
                                        <div class="media-body">
                                            <h3 class="media-heading" style="padding-top: 20px;">{{fieldsize.name}}</h3>
                                            <p>
                                                Minimum Size: {{fieldsize.min_width}} x {{fieldsize.min_length}} {{getUnitPrettyName(fieldsize.unit)}}<br />
                                                Maximum Size: {{fieldsize.max_width}} x {{fieldsize.max_length}} {{getUnitPrettyName(fieldsize.unit)}}
                                            </p>
                                            <button type="button" class="btn btn-xs btn-primary" style="width: 50px;" ng-click="openEditFieldSize(fieldsize)">Edit</button>
                                            <button type="button" class="btn btn-xs btn-danger" style="width: 50px;"ng-click="deleteFieldSize(fieldsize)">Delete</button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>