<div class="ngdialog-message">
    <div>
        <h3>Join Existing Club</h3>
    </div>
    <div>&nbsp;</div>
    <div>
        <form ng-submit="joinClub()">
            <div class="form-group">
                <label class="sr-only" for="club">Club Name</label>
                <div class="input-group">
                    <div class="input-group-addon">Club</div>
                    <select id="club" class="form-control" ng-model="join.selectedClub" ng-options="club as club.name for club in clubs" ></select> 
                </div>                               
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">Role</div>
                    <select id="role" class="form-control" ng-model="join.selectedRole" ng-options="role as role.name for role in roles"></select> 
                </div>   
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
            <button type="button" class="btn btn-default" ng-click=closeThisDialog("Cancel")>Cancel</button>
        </form>
    </div>
    <div>&nbsp;</div>
</div>

