<div class="ngdialog-message">
    <div class="">
        <h3>Register</h3>
    </div>
    <div class="">&nbsp;</div>
    <div class="">
        <form name="regForm" class="form-horizontal" >
            <div class="form-group">
                <label class="sr-only" for="username">Username</label>
                <div class="col-xs-12 col-sm-6">
                    <input type="text" class="form-control" id="username" placeholder="Username" ng-model="registration.username">
                </div>
                <label class="sr-only" for="password">Password</label>
                <div class="col-xs-12 col-sm-6">
                    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="registration.password">
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="firstName">First Name</label>
                <div class="col-xs-12 col-sm-6">
                    <input type="text" class="form-control" id="firstName" placeholder="First Name" ng-model="registration.first_name">
                </div>
                <label class="sr-only" for="lastName">Last Name</label>
                 <div class="col-xs-12 col-sm-6">
                    <input type="text" class="form-control" id="lastname" placeholder="Last Name" ng-model="registration.last_name">
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="email_address">Email Address</label>
                <div class="col-xs-12 col-sm-6">
                    <input type="email" class="form-control" id="email_address" placeholder="Email Address" ng-model="registration.email_address">
                </div>
                <label class="sr-only" for="mobile">Mobile</label>
                <div class="col-xs-12 col-sm-6">
                    <input type="tel" class="form-control" id="mobile" placeholder="Mobile Phone" ng-model="registration.mobile">
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="address">Address</label>
                <div class=" col-xs-12">
                    <input type="text" class="form-control" id="address" placeholder="Street Address" ng-model="registration.address">
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="city">City</label>
                <div class=" col-xs-12 col-sm-5">
                    <input type="text" class="form-control" id="city" placeholder="City" ng-model="registration.city">
                </div>
                <label class="sr-only" for="state">State</label>
                 <div class=" col-xs-12 col-sm-4">
                    <input type="text" class="form-control" id="state" placeholder="State" ng-model="registration.state">
                </div>
                <label class="sr-only" for="postalCode">Postal Code</label>
                 <div class=" col-xs-12 col-sm-3">
                    <input type="text" maxlength="5" class="form-control" id="postalCode" placeholder="ZIP" ng-model="registration.postal_code">
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="country">Country</label>
                <div class="col-xs-12">
                    <input type="text" class="form-control" id="country" placeholder="Country" ng-model="registration.country">
                </div>
            </div>
            <div class="form-group">
                <form name="myForm">
                    <fieldset>
                      <input type="text" name="userName" ng-model="username" size="31" required>
                      <i ng-show="myForm.userName.$error.required">*required</i>
                      <br>Photo:
                      <input type="file" ngf-select ng-model="picFile" name="file"    
                             accept="image/*" ngf-max-size="2MB" required
                             ngf-model-invalid="errorFile">
                      <i ng-show="myForm.file.$error.required">*required</i><br>
                      <i ng-show="myForm.file.$error.maxSize">File too large 
                          {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                      <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
                      <br>
                      <button ng-disabled="!myForm.$valid" 
                              ng-click="uploadPic(picFile)">Submit</button>
                      <span class="progress" ng-show="picFile.progress >= 0">
                        <div style="width:{{picFile.progress}}%" 
                            ng-bind="picFile.progress + '%'"></div>
                      </span>
                      <span ng-show="picFile.result">Upload Successful</span>
                      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                    </fieldset>
                    <br>
                  </form>
            </div>
            
            <button type="button" class="btn btn-info" ng-click="showRegLoading(); registerUser()">Register</button>
            <button type="button" class="btn btn-default" ng-click='closeThisDialog("Cancel")'>Cancel</button>
        </form>
        <div ng-show="showRegLoader" class="loader"></div>
    </div>
</div>