<div class="ngdialog-message">
    <div class="">
        <h3>Register</h3>
    </div>
    <div class="">&nbsp;</div>
    <div class="">
        <form name="regForm" class="form-horizontal" >
            <div class="form-group">
                <label class="sr-only" for="username">Username</label>
                <div class="col-xs-12 col-sm-6">
                    <input type="text" class="form-control" id="username" placeholder="Username" ng-model="registration.username">
                </div>
                <label class="sr-only" for="password">Password</label>
                <div class="col-xs-12 col-sm-6">
                    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="registration.password">
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="firstName">First Name</label>
                <div class="col-xs-12 col-sm-6">
                    <input type="text" class="form-control" id="firstName" placeholder="First Name" ng-model="registration.first_name">
                </div>
                <label class="sr-only" for="lastName">Last Name</label>
                 <div class="col-xs-12 col-sm-6">
                    <input type="text" class="form-control" id="lastname" placeholder="Last Name" ng-model="registration.last_name">
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="email_address">Email Address</label>
                <div class="col-xs-12 col-sm-6">
                    <input type="email" class="form-control" id="email_address" placeholder="Email Address" ng-model="registration.email_address">
                </div>
                <label class="sr-only" for="mobile">Mobile</label>
                <div class="col-xs-12 col-sm-6">
                    <input type="tel" class="form-control" id="mobile" placeholder="Mobile Phone" ng-model="registration.mobile">
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="address">Address</label>
                <div class=" col-xs-12">
                    <input type="text" class="form-control" id="address" placeholder="Street Address" ng-model="registration.address">
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="city">City</label>
                <div class=" col-xs-12 col-sm-5">
                    <input type="text" class="form-control" id="city" placeholder="City" ng-model="registration.city">
                </div>
                <label class="sr-only" for="state">State</label>
                 <div class=" col-xs-12 col-sm-4">
                    <input type="text" class="form-control" id="state" placeholder="State" ng-model="registration.state">
                </div>
                <label class="sr-only" for="postalCode">Postal Code</label>
                 <div class=" col-xs-12 col-sm-3">
                    <input type="text" maxlength="5" class="form-control" id="postalCode" placeholder="ZIP" ng-model="registration.postal_code">
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="country">Country</label>
                <div class="col-xs-12">
                    <input type="text" class="form-control" id="country" placeholder="Country" ng-model="registration.country">
                </div>
            </div>
            <div class="form-group"> 
                <label class="sr-only" for="profile">Profile Photo</label>
                <div class="col-xs-12">
                
                </div>
            </div>
            
            <button type="button" class="btn btn-info" ng-click="showRegLoading(); registerUser()">Register</button>
            <button type="button" class="btn btn-default" ng-click='closeThisDialog("Cancel")'>Cancel</button>
        </form>
        <div ng-show="showRegLoader" class="loader"></div>
    </div>
</div>